<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'playlist/css/css_유진.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천플레이리스트</title>
    <script>
        var counter = 0;
        let results = {{ results | safe }};
        function showNextItem() {
            obj1 = document.getElementById('artistName');
            obj2 = document.getElementById('musicName');
            obj1.style.textAlign = "center";

            obj1.style.fontFamily = "Verdana, sans-serif"; // 폰트 설정

            obj1.style.fontSize = "2em";
            obj2.style.fontSize = "3em";
            let artistName = results[counter % results.length].artist_name;
            let musicName = results[counter % results.length].music_name;
            document.getElementById('artistName').innerHTML = "" + artistName;
            document.getElementById('musicName').innerHTML = "" + musicName;
            counter++;
        }
        window.onload = showNextItem;
    </script>

</head>
    <div>
      <div style="position: absolute;">
        <div style="position: relative; top: 39px; left: 550px;"><img src="/media/temp.png" width= 570 height=480></img>
        </div>
      </div>
      <div style="position: absolute;">
        <div style="position: relative; top: 770px; left: 890px;"><input type="submit" id="search" alt="search" value="" onclick="showNextItem()">
        </div>
      </div>

      <div style="position: absolute">
        <div style="border: 4px solid lightskyblue;color: rgba(255, 115, 0) ;position: relative; top: 580px; left : 450px "><div id="musicName"></div>
        </div>
      </div>
      <div style="position: absolute;">
        <div style="border: 4px solid lightskyblue;color: rgb(255, 115, 0) ;position: relative; top: 665px;left : 450px "><div id="artistName"></div>
        </div>
      </div>

      <img src="/media/플레이리스트-002.png"></img>
    </div>

</html>